
@{
    ViewBag.Title = "Login Page";
}

<h2>Login as</h2>
<div>
    @Html.ActionLink("Staff","Login","Staffs",null,null)
</div>
<div>
    @Html.ActionLink("Agent", "Login", "Agents", null, null)
</div>

