
@{
    ViewBag.Title = "Register";
}

<h2>Register For</h2>
<div>
    @Html.ActionLink("Staff", "Register", "Staffs", null, null)
</div>
<div>
    @Html.ActionLink("Agent", "Register", "Agents", null, null)
</div>

